<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTINI KAERO</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<!--	フォント-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
	<div id="container">
		<!--ヘッダーアイコンあり-->
		<div th:replace="~{fragments/adminHomeHeader :: adminHomeHeader}"></div>
		<main>
			<!--エラーメッセージ-->
			<p th:if="${errorMsg}" th:text="${errorMsg}" class="error-msg"></p>
			<br>
			<form th:action="@{/admin/admin-user-search}" method="POST" th:object="${userSearchForm}">
				ID検索<br>
				<div class="btn-two">
					<input type="text" th:field="*{userId}" class="input_form2">
				   	<input type="submit" value="検索" class="blue_btn2">
				</div>
			</form>
			<br>
			<table  class="center">
				<tbody>
				<!-- 空やNULLなら -->
				<tr th:if="${userList == null or #lists.isEmpty(userList)}">
					<td colspan="3"></td>
				</tr>
				<!--繰り返し-->
				<tr th:each="u : ${userList}" class="row">
					<td th:text="${u.userName}">ユーザー名</td>
					<td>
						<a th:href="@{/admin/user-detail(userId=${u.userId})}" class="blue_btn">詳細</a>
					</td>
				</tr>
				<!--ID検索-->
				<tr th:if="${user}">
					<td th:text="${user.userName}">ユーザー名</td>
					<td>
						<a th:href="@{/admin/user-detail(userId=${user.userId})}" class="blue_btn">詳細</a>
					</td>
				</tr>
				</tbody>
			</table>
			<br>
			<form th:action="@{/admin/admin-home}" method="GET">
				<input type="submit" value="戻る" class="white_btn">
			</form>	
		</main>
	</div>
</body>
</html>