<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTINI KAERO</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<!--	フォント-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
	<div id="container">
		<!--ヘッダーアイコンあり-->
		<div th:replace="~{fragments/adminHomeHeader :: adminHomeHeader}"></div>
		<main>
			<h3>	削除確認</h3>
			<p>以下ユーザーを削除します。</p>
			<div class="detail">
				ユーザーID：
				<a th:text="${user.userId}">ユーザーID</a><br>
				<br>
				ユーザー名：
				<a th:text="${user.userName}">ユーザー名</a><br>
				<br>
				メールアドレス：
				<a th:text="${user.mail}">メールアドレス</a><br>
				<br>
			</div>
			<!--	メッセージ確認-->
			<form th:action="@{/admin/user-detail}" method="GET">
				<input type="hidden" name="userId" th:value="${user.userId}">
				<input type="submit" value="ユーザー詳細へ" class="white_btn_2">
		  	</form>
			
			<!-- 戻るボタン -->
			<form th:action="@{/admin/admin-message-confirm}" method="GET">
				<input type="hidden" name="userId" th:value="${user.userId}">
				<input type="submit" value="メッセージ確認へ" class="white_btn_2">
		  	</form>
			
			<!--	ユーザー削除-->
			<form th:action="@{/admin/admin-user-delete-submit}" method="POST">
				<input type="hidden" name="userId" th:value="${user.userId}">	
				<input type="submit" value="ユーザー削除" class="blue_btn">
		  	</form>

	</main>
	</div>
</body>
</html>