<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTINI KAERO</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<!--	フォント-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
	<div id="container">
	<!--ヘッダーアイコンあり-->
	<div th:replace="fragments/userHomeHeader :: userHomeHeader"></div>
	<main>
		<h3>	受信メッセージの削除確認</h3>
		<div class="detail">
			<p>該当メッセージを削除します。問題ない場合には確定ボタンを押してください。</p>
		</div>
		<div class="btn-two reverse">
			
		<form th:action="@{/user/message-delete-submit}" method="POST">
			<input type="hidden" name="id" th:value="${message.messageId}" />	
			<input type="submit" value="確定" class="blue_btn">
	  	</form>
		
		<!-- 戻るボタン -->
		<div class="btn-two">
		<form th:action="@{/user/message-detail/{id}(id=${message.messageId})}" method="GET">
			<input type="submit" value="戻る" class="white_btn">
	  	</form>
		</div>
		</div>	
	</main>
	</div>
</html>