<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTINI KAERO</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<!--	フォント-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
	<div id="container">
	<!--ヘッダーアイコンあり-->
	<div th:replace="fragments/userHomeHeader :: userHomeHeader"></div>
	<main>

		
		<form th:action="@{/dummy}" method="POST">	
			<input type="submit" value="送信" class="blue_btn">
	  	</form>
		<!-- 戻るボタン -->
		<div class="btn-two">
		<form th:action="@{/user/user-home}" method="GET">
			<input type="submit" value="戻る" class="white_btn">
	  	</form>
		
		</div>	
	</main>
	</div>
</html>