<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTINI KAERO</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<!--	フォント-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
	
	<div id="container">
	<!--ヘッダーアイコンなし-->
	<div th:replace="~{fragments/userHeader :: userHeader}"></div>
	<!--ヘッダーアイコンあり-->
<!--	<div th:replace=div th:replace="~{fragments/userHomeHeader :: userHomeHeader}"></div>-->
	<main>
<!--		エラーメッセージ-->
		<p th:if="${errorMsg}" th:text="${errorMsg}" class="error-msg"></p>
	
		<form th:action="@{/user/user-home}" th:object="${UserLoginFrom}" method="POST" class="form">
			
			<p class="form_value">メールアドレス</p>
		    	<input type="mail" name="mail" class="input_form" ><br>
		    	<div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" class="error-msg"></div>
			<br>
			
			<p class="form_value">パスワード</p>
		    	<input type="password" name="password" class="input_form" ><br>
		    	<div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-msg"></div>
			<br>
			
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		    	<input type="submit" value="ログイン" class="blue_btn">
			<br>
			
			</form>

		<div class="link">
			会員登録がお済みでない方は<br>
			こちらから →
				<form th:action="@{/user/user-signup}" method="GET" class="link">
					<input type="submit" value="新規登録" class="non_btn">
				</form>
		</div>
		<br>
		<br>

			<div class="right_btn">
			    <form th:action="@{/admin/admin-login}" method="POST">
		    		<input type="submit" value="管理者" class="other_btn">
		 	  	</form>
			</div>
		</main>
	</div>
</body>
</html>