<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTINI KAERO</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<!--	フォント-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
	
	<div id="container">
	<!--ヘッダーアイコンなし-->
<!--	<div th:replace="fragments/userHeader :: userHeader"></div>-->
	
	<div th:replace="fragments/userHomeHeader :: userHomeHeader"></div>
	<main>
		<h1>テスト</h1>
	</main>
	
	</div>
</html>