<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTINI KAERO</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<!--	フォント-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
	<div id="container">
	<!--ヘッダーアイコンあり-->
	<div th:replace="fragments/userHomeHeader :: userHomeHeader"></div>
	<main>
		<h3>	下記の情報提供内容で登録ユーザーへ送信しますか？</h3>
		<div class="detail">
			タイトル<br>
			<a th:text="${messageFrom.title}">タイトル</a><br>
			<br>
			
			<!-- 画像がある場合 -->
			<div th:if="${messageFrom.pic != null and !#strings.isEmpty(messageFrom.pic)}">
			    <img th:src="@{'/images/' + ${messageFrom.pic}}" alt="迷子猫の写真">
			</div>
			<br>
			
			メッセージ内容<br>
			<a><span th:text="${messageFrom.explanation}">内容</span></a><br>
			</table>
		</div>
		<div class="btn-two reverse">
		<form th:action="@{/user/user-message-submit}" method="POST" th:object="${messageFrom}">	
			<input type="hidden" th:field="*{catId}" />
		    <input type="hidden" th:field="*{title}" />
		    <input type="hidden" th:field="*{explanation}" />
		    <input type="hidden" th:field="*{pic}" />
			<input type="submit" value="送信" class="blue_btn">
	  	</form>
		<!-- 戻るボタン -->
		<div class="btn-two">
		<form th:action="@{'/user/missing-cat-detail/' + ${cat.catId}}" method="GET">
			<input type="submit" value="戻る" class="white_btn">
	  	</form>
		</div>
		</div>	
	</main>
	</div>
</html>