<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTINI KAERO</title>
	<link rel="stylesheet" th:href="@{/css/style.css}">
<!--	フォント-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
</head>
<body>
	<div id="container">
	<!--ヘッダーアイコンあり-->
	<div th:replace="fragments/userHomeHeader :: userHomeHeader"></div>
	<main>
		<h3>情報提供</h3>
		<!--	エラーメッセージ-->
		<p th:if="${errorMsg}" th:text="${errorMsg}" class="error-msg"></p>
		
		<div class="attention">
			<p>※不適切な内容と判断された場合にはアカウント利用停止となります。</p>
		</div>
		<div class="detail">
		<form th:action="@{/user/user-message-confirm}" method="POST"
		 th:object="${messageFrom}" class="form">
		 	<input type="hidden" th:field="*{catId}" />
			
			タイトル<br>
			<input type="text" th:field="*{title}" class="input_form_2"><br>
			<div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="error-msg"></div>
			<br>
			
			<a class="small">見かけた際の画像などがある場合には</a><br>
			<input type="file" th:field="*{pic}"><br>
			<br>
			
			内容<br>
			<textarea th:field="*{explanation}" class="input_form_2" rows="5"></textarea>
			<div th:if="${#fields.hasErrors('explanation')}" th:errors="*{explanation}" class="error-msg"></div>
		</div>
		<div class="btn-two reverse">
			<input type="submit" value="確認" class="blue_btn">
	  	</form>
		<!-- 戻るボタン -->
		
		<form th:action="@{'/user/missing-cat-detail/' + ${cat.catId}}" method="GET">
			<input type="submit" value="戻る" class="white_btn">
	  	</form>
		
		</div>	
	</main>
	</div>
</html>