@charset "UTF-8";

body {
	margin: 0 auto;
	margin-top: 0;
    background-color: #f6fbfc;
    color: #222222;
    font-family: sans-serif;
}

#container {
	/*	モバイルサイズ*/
    max-width: 768px;
    margin: 0 auto;
    background-color: #fff;
}

/*	ヘッダー */
header {
	height: 100px;
    background-color: #aad9ff;;
	margin: 0;  
	display: flex;
	/*	高さ中央*/
	align-items: center;
}
/*	ヘッダー 文字 */
.title {
	padding-left: 10px;
	font-size: 2rem;
	height: auto;
	margin: 0;
	font-family: "Rubik Bubbles", system-ui;
	font-weight: 400;
	font-style: normal;
}
/*ヘッダーアイコン*/
.icon {
	margin-left: auto;
	padding-right: 20px;
}
/*メイン表示*/
main{
	height:1480px;
}
