@charset "UTF-8";

body {
	margin: 0 auto;
	margin-top: 0;
    background-color: #f6fbfc;
    color: #222222;
    font-family: sans-serif;
}

#container {
	/*	モバイルサイズ*/
    max-width: 768px;
    background-color: #fff;
}

/*	ヘッダー */
header {
	height: 100px;
    background-color: #aad9ff;;
	margin: 0;  
	display: flex;
	/*	高さ中央*/
	align-items: center;
}
/*	ヘッダー 文字 */
.title {
	padding-left: 10px;
	font-size: 2rem;
	height: auto;
	margin: 0;
	font-family: "Rubik Bubbles", system-ui;
	font-weight: 400;
	font-style: normal;
}
/*ヘッダーアイコン*/
.icon {
	margin-left: auto;
	padding-right: 20px;
}
/*メイン表示*/
main{
/*	height:1480px;*/
	padding-bottom: 100px;
	text-align: center;
}

/*エラー*/
.error-msg{
	color:red;
}

/*フォームデザイン*/
.form{
	padding:50px 0;
}

.form_value{
	margin-bottom: 0;
 
	padding-left: 15%;
	text-align: start;
}
/*管理者ボタン右寄せ*/
.right_btn{
	text-align: right;
	padding-right: 5%;
}

.input_form{
	width: 70%; 
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid #89a3b8;
	box-sizing: border-box;
}

.small{
	font-size:small ;
}

/* ボタンデザイン */
.blue_btn{
	margin: 0 30px;
	font-weight: bold;
	height:50px;
	padding:5px 15px;
	color:#fff;
	background-color: rgb(49, 102, 206);
	border-radius: 5px;
	border-color: #aad9ff;
	font-size: 1.2rem;
}

.blue_btn:hover{
	color:#fff;
	background-color: rgb(109, 145, 216);
}

.white_btn{
	margin: 0 30px;
	font-weight: bold;
	height:50px;
	padding:5px 15px;
	color:#24437a;
	background-color: #e6f4ff;
	border-radius: 5px;
	border-color: rgb(80, 111, 172);
	font-size: 1.2rem;
}

.white_btn:hover{
	color:#24437a;
	background-color: #aecfe9;
}

.white_btn_2{
	margin: 10px 30px;
	font-weight: bold;
	height:60px;
	width:80%;
	padding:5px 15px;
	color:#24437a;
	background-color: #e6f4ff;
	border-radius: 5px;
	border-color: rgb(80, 111, 172);
	font-size: 1.2rem;
}

.white_btn_2:hover{
	color:#24437a;
	background-color: #aecfe9;
}

.other_btn{
	margin: 0 30px;
	font-weight: bold;
	height:50px;
	padding:5px 15px;
	color:#ffffff;
	background-color: #94b2e5;
	border-radius: 5px;
	border-color: rgb(80, 111, 172);
	font-size: 1.2rem;
}
.other_btn:hover{
	color:#ffffff;
	background-color: #6c93d7;
}

.non_btn{
	background: none;        /* 背景なし */
	border: none;            /* 枠線なし */
	color: rgb(80, 111, 172);        
	padding: 0;              
	margin: 0 10px;          
	text-decoration: underline; /* 下線 */
	font-size: 1.1em;
}

.link{
	display: inline;
}

.btn-two.reverse{
	padding-top: 15px;
	display: flex;		
	flex-direction:row-reverse;
	justify-content: center;
	align-items:center;

}

.btn-two{
	display: flex;		
	justify-content: center;
	align-items:center;

}

.table{
	table-layout: auto;
	width: 95%;
	margin: 20px auto;
}

.non_form{
	border: none;
	background: transparent;
	text-align: center;
	outline: none;
	pointer-events: none;
	font-size: 1rem;
}

.frame{
	padding: 10px;
  	border: 1px solid #91d1e2;
	border-radius: 5px;
}